@import "../../../node_modules/govuk-frontend/dist/govuk/all";

.govuk-header__navigation-list {
  display: flex;
  justify-content: right;
}

.govuk-body {
  overflow-wrap: break-word;
  hyphens: manual;
}
