@import "../../../node_modules/govuk-frontend/govuk/all";

.govuk-header__navigation-list {
  display: flex;
  justify-content: right;
}

.govuk-body {
  inline-size: 700px;
  overflow-wrap: break-word;
  hyphens: manual;
}
