{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% extends "base.njk" %}
{% set pageTitle = "Which digital driving licence would you like to revoke?" %}
{% block content %}
    {% if message %}
        <div class="govuk-notification-banner {% if messageType == 'success' %}govuk-notification-banner--success{% endif %} {% if messageType == 'error' %}govuk-notification-banner--error{% endif %} {% if messageType == 'info' %}govuk-notification-banner{% endif %}"
             role="alert">
            <div class="govuk-notification-banner__content">
                <p class="govuk-notification-banner__heading">{{ message }}</p>
            </div>
        </div>
    {% endif %}
    <form action="/revoke" method="post">
        {% call govukFieldset({
            "legend": {
            "text": pageTitle,
            "classes": "govuk-fieldset__legend--m",
            "isPageHeading": true
            } }) %}
            {{ govukInput({
                        "id": "document-id",
                        "name": "documentId",
                        "classes": "govuk-!-width-one-third",
                        "hint": {
                        "text": "Enter the driving licence number associated with the digital driving licence you want to revoke"
                        },
                        "value": value,
                        "spellcheck": false,
                        "errorMessage": {
                        "text": error
                        } if error
                        }) }}
        {% endcall %}
        {{ govukButton({"text": "Continue", "type": "Submit", "preventDoubleClick": true}) }}
    </form>
{% endblock %}
