{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% extends "base.njk" %}
{% set pageTitle = "Please enter the document identifier associated with the credentials you wish to revoke:" %}
{% block content %}
{% if message %}
  {% if messageType == 'success' %}
    <div class="govuk-notification-banner govuk-notification-banner--success"
         role="alert" aria-labelledby="govuk-notification-banner-title"
         data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">{{ message }}</p>
      </div>
    </div>
  {% else %}
    <div class="govuk-notification-banner {% if messageType == 'error' %}govuk-notification-banner--error{% endif %}"
         role="region"
         {% if messageType == 'error' %}aria-label="Error"{% else %}aria-label="Information"{% endif %}
         data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">{{ message }}</p>
      </div>
    </div>
  {% endif %}
{% endif %}
    <form action="/revoke" method="post">
        {% call govukFieldset({
            "legend": {
            "text": pageTitle,
            "classes": "govuk-fieldset__legend--m",
            "isPageHeading": true
            } }) %}
            {{ govukInput({
                        "label": {
                        "text": "Document ID",
                        "classes": "govuk-label--s"
                        },
                        "id": "document-id",
                        "name": "documentId",
                        "classes": "govuk-!-width-one-third",
                        "hint": {
                        "text": "For a digital driving licence the document identifier is the driving licence number"
                        },
                        "value": value,
                        "spellcheck": false,
                        "errorMessage": {
                        "text": error
                        } if error
                        }) }}
        {% endcall %}
        {{ govukButton({"text": "Continue", "type": "Submit", "preventDoubleClick": true}) }}
    </form>
{% endblock %}
