{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "base.njk" %}
{% block content %}
    <h1 class="govuk-heading-l govuk-!-margin-top-3">Mocdasdask CRI</h1>
    <form action="/build-document" method="post">
        {% call govukFieldset({
            legend: {
            text: "Please enter the document details",
            classes: "govuk-fieldset__legend--m",
            isPageHeading: true
            } }) %}
            {{ govukInput({
                "label": {
                    "text": "Title"
                },
                "classes": "govuk-input--width-5",
                "id": "title",
                "name": "title",
                "spellcheck": false,
                "value": "Mr"
            }) }}
            {{ govukInput({
                "label": {
                    "text": "Given name"
                },
                "classes": "govuk-input--width-20",
                "id": "given-name",
                "name": "givenName",
                "autocomplete": "given-name",
                "spellcheck": false,
                "value": "Sarah Elizabeth"
            }) }}
            {{ govukInput({
                "label": {
                    "text": "Family name"
                },
                "classes": "govuk-input--width-20",
                "id": "family-name",
                "name": "familyName",
                "autocomplete": "family-name",
                "spellcheck": false,
                "value": "Edwards"
            }) }}
            {{ govukInput({
                "label": {
                    "text": "National Insurance Number"
                },
                "classes": "govuk-input--width-10",
                "id": "nino",
                "name": "nino",
                "spellcheck": false,
                "value": "QQ123456C"
            }) }}
        {% endcall %}
        {{ govukButton({"text": "Continue", "type": "Submit", "preventDoubleClick": true}) }}
    </form>
{% endblock %}
