{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% extends "base.njk" %}
{% set pageTitle = "Download your document to your GOV.UK Wallet" %}
{% block content %}
    <h1 class="govuk-heading-l govuk-!-margin-top-3">Example GOV.UK Wallet Credential Issuer</h1>
    <h1 class="govuk-heading-m">Download your document to your GOV.UK Wallet</h1>
    <p class="govuk-body">Scan this QR code on your mobile device:</p>
    <p class="govuk-body">
        <img id="qr-code"
             src="{{ qrCode }}"
             alt="QR Code Image"
             width="350"
             height="350">
    </p>
    <p class="govuk-body">Or, click on the button below:</p>
    <p class="govuk-body">
        <a href={{ universalLink }} class="govuk-button" data-module="govuk-button">Open GOV.UK Wallet </a>
    </p>
    {{ govukWarningText({"text": "This QR code / deep link is valid for 15 minutes.", "iconFallbackText": "Warning"}) }}
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <h1 class="govuk-heading-s" class="govuk-heading-m">Development Only</h1>
    <p class="govuk-body">
        <a href="/view-credential/?offer={{ universalLink }}"
           class="govuk-link"
           rel="noreferrer noopener"
           target="_blank">Display credential JWT and claims</a>
    </p>
    {{ govukInsetText({
      text: "Clicking on this link will display the credential on a new page. You will not be able to scan the QR code to load the credential in to the wallet after that. This link will also not work after the credential has been loaded in to the wallet."
    }) }}
{% endblock %}
