{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% extends "base.njk" %}
{% set pageTitle = "Download your document to your GOV.UK Wallet" %}
{% block content %}
    <h1 class="govuk-heading-l govuk-!-margin-top-3">Example GOV.UK Wallet Credential Issuer</h1>
    <h1 class="govuk-heading-m">Download your document to your GOV.UK Wallet</h1>
    <p class="govuk-body">Scan this QR code on your mobile device:</p>
    <p class="govuk-body">
        <img id="qr-code"
             src="{{ qrCode }}"
             alt="QR Code Image"
             width="350"
             height="350">
    </p>
    <p class="govuk-body">Or, click on the button below:</p>
    <p class="govuk-body">
        <a href={{ universalLink }} class="govuk-button" data-module="govuk-button">Open GOV.UK Wallet </a>
    </p>
    {{ govukWarningText({"text": "This QR code / deep link is valid for 15 minutes.", "iconFallbackText": "Warning"}) }}
    <p class="govuk-body">Pre-authorised code:</p>
    <p class="govuk-body">{{ preAuthorizedCode }}</p>
    <p class="govuk-body">Access Token:</p>
    <p class="govuk-body">{{ accessToken }}</p>
    <p class="govuk-body">Access Token Claims:</p>
    <p class="govuk-body">{{ tokenClaims }}</p>
    <p class="govuk-body">Credential:</p>
    <p class="govuk-body">{{ credential }}</p>
    <p class="govuk-body">Credential claims:</p>
    <p class="govuk-body">{{ credentialClaims }}</p>
{% endblock %}
