{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% extends "base.njk" %}
{% set pageTitle = "Please select an app and environment:" %}
{% set showError = isInvalid %}
{% set appOptions = apps %}

{% block content %}
    <h1 class="govuk-heading-l govuk-!-margin-top-3">Example GOV.UK Wallet Credential Issuer</h1>
    <form action="/select-app" method="post">
        <input type="hidden" name="credentialType" value="{{ credentialType }}">

        {{ govukRadios({
                "id": "select-app-choice",
                "name": "select-app-choice",
                fieldset: {
                legend: {
                text: "Please select an app and environment:",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
                }
                },
                items: appOptions,
                errorMessage: {
                text: "You must choose an option"
                } if showError
                }) }}
        {{ govukButton({"text": "Continue", "type": "Submit", "preventDoubleClick": true}) }}
    </form>
{% endblock %}
