{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% extends "base.njk" %}
{% set pageTitle = "Please select an app and environment:" %}
{% block content %}
    <form action="/select-app" method="post">
        <input type="hidden" name="credentialType" value="{{ credentialType }}">
        {{ govukRadios({
                "id": "select-app-choice",
                "name": "select-app-choice",
                fieldset: {
                legend: {
                text: "Please select an app and environment:",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
                }
                },
                items: apps,
                errorMessage: {
                text: "You must choose an option"
                } if error
                }) }}
        {{ govukButton({"text": "Continue", "type": "Submit", "preventDoubleClick": true}) }}
    </form>
{% endblock %}
