{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set showError = isInvalid %}
{% extends "base.njk" %}
{% block content %}
    <h1 class="govuk-heading-l govuk-!-margin-top-3">Example GOV.UK Wallet Credential Issuer</h1>
    <form action="/select-app" method="post">
        {{ govukRadios({
                "id": "select-app-choice",
                "name": "select-app-choice",
                fieldset: {
                legend: {
                text: "Please select an app and environment:",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
                }
                },
                items: [
                {
                value: "govuk-build",
                text: "GOV.UK App (Build)"
                },
                {
                value: "govuk-staging",
                text: "GOV.UK App (Staging)"
                },
                {
                value: "wallet-test-dev",
                text: "Wallet Test App (Dev)"
                },
                {
                value: "wallet-test-build",
                text: "Wallet Test App (Build)"
                },
                {
                value: "wallet-test-staging",
                text: "Wallet Test App (Staging)"
                }
                ],
                errorMessage: {
                text: "You must choose an option",
                attributes: { "data-pw": "working-camera-error-message" }
                } if showError
                }) }}
        {{ govukButton({"text": "Continue", "type": "Submit", "preventDoubleClick": true}) }}
    </form>
{% endblock %}
