{% extends "govuk/template.njk" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% block head %}<link href="/public/stylesheets/application.css" rel="stylesheet">{% endblock %}
{% block header %}
    {% if authenticated %}
        {{ govukHeader({
            "homepageUrl": "/select-app",
            "classes": "govuk-header--with-sign-out-link",
            "navigation": [
                {
                    "href": "/logout",
                    "text": "Sign out"
                }
            ]
        }) }}
    {% else %}
        {{ govukHeader ({
        homepageUrl: "/select-app"
        }) }}
    {% endif %}
    {{ govukServiceNavigation({"serviceName": "Example GOV.UK Wallet Document Builder"}) }}
{% endblock %}
{% block main %}
    <div class="govuk-width-container {{ containerClasses }}">
        <main class="govuk-main-wrapper {{ mainClasses }}"
              id="main-content"
              role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full {{ rowClasses }}">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>
    </div>
{% endblock %}
