{% extends "base.njk" %}

{% set pageTitle = "document-id" %}

{% block content %}
  <h1 class="govuk-heading-l govuk-!-margin-top-3">Welcome to the Wallet Document Builder</h1>
  <div style="max-width:80%; word-wrap:break-word;">
    <p class="govuk-body">Document ID: </p>
    <p class="govuk-body">{{ documentId }}</p>
  </div>
{% endblock %}