{% extends "base.njk" %}
{% set pageTitle = "Download your document to your GOV.UK Wallet" %}
{% block content %}
    <link rel="stylesheet" href="/assets/jsontree.js.css">
    <script src="/assets/jsontree.js"></script>
    <script>
        const jsontreeBindingOptions = {
            sortPropertyNames: false,
            fileDroppingEnabled: false,
            allowEditing: {
                booleanValues: false,
                decimalValues: false,
                numberValues: false,
                stringValues: false,
                dateValues: false,
                bigIntValues: false,
                guidValues: false,
                colorValues: false,
                propertyName: false,
                urlValues: false,
                emailValues: false,
                regExpValues: false,
                symbolValues: false,
                imageValues: false,
                bulk: false,
            },
            dateTimeFormat: "{yyyy}-{mm}-{dd}T{hh}:{MM}:{ss}Z",
            showUrlOpenButtons: false,
            showEmailOpenButtons: false,
            title: {
                showCloseOpenAllButtons: false,
            },
            controlPanel: {
                enabled: false,
            },
            sideMenu: {
                enabled: false,
            },
            autoClose: {
                objectSize: 6,
                arraySize: 6,
                mapSize: 6,
                setSize: 6,
            }
        }
    </script>
    <h1 class="govuk-heading-l govuk-!-margin-top-3">Example GOV.UK Wallet Credential Issuer</h1>
    <h1 class="govuk-heading-m">Quick links:</h1>
    <p class="govuk-body"></p><a href="#preauth">Pre-auth code</a>
    <p class="govuk-body"></p><a href="#access">Access Token</a>
    <p class="govuk-body"></p><a href="#tokenclaims">Token Claims</a>
    <p class="govuk-body"></p><a href="#proofjwt">Proof JWT</a>
    <p class="govuk-body"></p><a href="#explorer">Credential Explorer</a>
    <p class="govuk-body"></p><a href="#credential">Credential</a>
    <h1 class="govuk-heading-m" id="preauth">Pre-authorised Code:</h1>
    <p class="govuk-body">{{ preAuthorizedCode }}</p>
    <h1 class="govuk-heading-m" id="access">Access Token:</h1>
    <p class="govuk-body">{{ accessToken }}</p>
    <p class="govuk-body" id="tokenclaims">{{ tokenClaims }}</p>
    <h1 class="govuk-heading-m" id="proofjwt">Proof JWT:</h1>
    <p class="govuk-body">{{ proofJwt }}</p>
    <h1 class="govuk-heading-m" id="explorer">Credential Explorer:</h1>
    {% if credentialClaims %}
        <script>
            const credentialClaims = {
                data: {{ credentialClaims | safe }},
                ...jsontreeBindingOptions,
                title: {
                    text: "mdoc Credential",
                },
            }
        </script>
        <div style="width:100%" id="tree-1" data-jsontree-js="credentialClaims"></div>
    {% endif %}
    {% if credentialSignature %}
        <script>
            const credentialSignature = {
                data: {{ credentialSignature | safe }},
                ...jsontreeBindingOptions,
                title: {
                    text: "mdoc Signature",
                },
            }
        </script>
        <div id="tree-2" data-jsontree-js="credentialSignature"></div>
    {% endif %}
    {% if credentialSignaturePayload %}
        <script>
            const credentialSignaturePayload = {
                data: {{ credentialSignaturePayload | safe }},
                ...jsontreeBindingOptions,
                title: {
                    text: "mdoc Signature Payload",
                },
            }
        </script>
        <div id="tree-3" data-jsontree-js="credentialSignaturePayload"></div>
    {% endif %}
    <h1 class="govuk-heading-m" id="credential">Credential:</h1>
    <p class="govuk-body">{{ credential }}</p>
{% endblock %}
