{% extends "base.njk" %}
{% set pageTitle = "Download your document to your GOV.UK Wallet" %}
{% block content %}
    <h1 class="govuk-heading-l govuk-!-margin-top-3">Example GOV.UK Wallet Credential Issuer</h1>
    <h1 class="govuk-heading-m">Pre-authorised Code:</h1>
    <p class="govuk-body">{{ preAuthorizedCode }}</p>
    <h1 class="govuk-heading-m">Access Token:</h1>
    <p class="govuk-body">{{ accessToken }}</p>
    <p class="govuk-body">{{ tokenClaims }}</p>
    <h1 class="govuk-heading-m">Proof JWT:</h1>
    <p class="govuk-body">{{ proofJwt }}</p>
    <h1 class="govuk-heading-m">Credential:</h1>
    <p class="govuk-body">{{ credential }}</p>
    {% if credentialClaims %}
        <h1 class="govuk-heading-m">Credential Claims:</h1>
        <pre>{{ credentialClaims | safe }}</pre>
    {% endif %}
{% endblock %}
