{% extends "base.njk" %}
{% set pageTitle = "Download your document to your GOV.UK Wallet" %}
{% block content %}
    <h1 class="govuk-heading-m">Pre-authorised Code:</h1>
    <p class="govuk-body">{{ preAuthorizedCode }}</p>
    <h1 class="govuk-heading-m">Access Token:</h1>
    <p class="govuk-body">{{ accessToken }}</p>
    <p class="govuk-body">{{ tokenClaims }}</p>
    <h1 class="govuk-heading-m">Proof JWT:</h1>
    <p class="govuk-body">{{ proofJwt }}</p>
    <h1 class="govuk-heading-m">Credential:</h1>
    <button type="button" class="govuk-button govuk-button--secondary" onclick="onCopyClick()">
     <span class="copy-label">Copy Credential</span>
    </button>
    <script>
    function onCopyClick() {
        const text = document.getElementById("credential-text").textContent;
        navigator.clipboard.writeText(text);
    }
    </script>
    <p class="govuk-body" id="credential-text">{{ credential }}</p>
    {% if credentialClaims %}
        <h1 class="govuk-heading-m">Credential Claims:</h1>
        <pre>{{ credentialClaims | safe }}</pre>
    {% endif %}
{% endblock %}
