name: Pull-Request Checks

on:
  pull_request:

permissions:
  id-token: write
  contents: read

jobs:
  ci:
    name: Run tests, lint and validate
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    steps:
      - name: Check out repository code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm ci

      - name: Build source code
        run: npm run build

      - name: Run the linter
        run: npm run lint

      - name: Run unit tests
        run: npm run test

      - name: Setup SAM CLI
        uses: aws-actions/setup-sam@c71dd89d980e49367c70391e8ada4353f52f2800 # pin@v2
        with:
          version: 1.90.0
          use-installer: true

      - name: SAM Validate
        run: |
          echo "SAM_CLI_TELEMETRY=0" >> $GITHUB_ENV
          cd deploy && sam validate --region eu-west-2
